<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>

<body>
<div class="outter">
    {% if token %}
    <h2> Hi {{username}}, let's get you back in!</h2>

    <div class="row">
        <div class="outter">

            <form action="{{host}}api/auth/reset_password/{{token}}" method="post">
                <input type="password" placeholder="Enter new password" name="new_password" id="password" required>
                <input type="password" placeholder="Confirm password" name="confirm_password" id="confirm_password"
                       required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    {% endif %}
</div>
</body>
<script>
    var password = document.getElementById("password")
    var confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

</html>